:root{
    --backgroundColor: #FFF9FA;
    --accent: rgb(255, 156, 217);
}



body{
    background-color: var(--backgroundColor);
    /* background-color: green; */
    margin: 0;
    padding: 0;
    font-optical-sizing: auto;
    /* width: 100%; */
}
.head{
    font-size: 2.5em;
    display: flex;
    text-align: center;
    position: relative;
    text-align: center;

    background-color: red;

    width: auto;
    /* height: 100px; */
    height:  500px;
    /* object-fit: scale-down; */
    
    
    
    /* height: auto; */
}

.head img {
    object-fit: cover;
    height: auto;
    width: 100%;
}

.headerText{
    color:rgb(255, 255, 255);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    font-family: "Overlock SC";
    .steakSVG{
        height: 1em;
        width: auto;
    }

}
h2{
    font-size: 3em;
    padding: 0;
    margin: 0;
    font-weight: 100;

}

h3{
    font-size: 2.5em;
    padding: 0;
    margin: 0;
    font-weight: 100;

}

h4{
    font-size: 2em;
    padding: 0;
    margin: 0;
    font-weight: 100;

}


ul, li{
    font-family: "open-sans", sans-serif;
    font-weight: 250;
    font-style: normal;
    font-size: 1.15em;

}
.main{
    display: grid;
    grid-template-columns: 5fr 2fr;
    width: auto;
    justify-content: space-around;
    /* margin: 1em; */
 

}

.left{
    width: auto;
    background-color: var(--backgroundColor);
    padding: 10vh;
    p{
        font-family: "open-sans", sans-serif;
        font-weight: 250;
        font-style: normal;
        font-size: 1.25em;
        line-height: 2;
        

    }


    ol, li{
        font-family: "open-sans", sans-serif;
        font-weight: 250;
        font-style: normal;
        font-size: 1.15em;
        line-height: normal;
        line-height: 2;
    }

}

.right{

    width: auto;
    /* margin-bottom: 1.5em; */
    padding: 1em;
    /* margin-top: -10em; */

    max-height: 100%;
}

.infoContainer{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(127, 255, 212, 0);
    height: fit-content;
    width: auto;
    margin: 1em;
    border-radius: 7px;
    border-color: rgb(255, 156, 217);
    border-style: solid;
    padding: 1em;
    h3{
        font-family: "Satisfy", cursive;
        font-weight: 100;
    } 

    p{
        font-family: "open-sans", sans-serif;
        font-weight: 250;
        font-style: normal;
        font-size: 1.25em;
    }



}


.pinkContainer{
    /* position: sticky;
    margin-top: -3em;; */
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    padding: 0.5em 1em;

    background-color: #FA5699;
    width: auto;
    height: fit-content;
    flex-shrink: 0; 
    margin: 1em;
    border-radius: 10px;
    position: relative;
    top: -13vh;




}

.steakImg{
    padding: 1em;
    aspect-ratio: 3/2;
    height: auto;
    width: 70%;
    margin-bottom: 20px;
}

.directHeader{
    font-family: "Satisfy", cursive;
    font-weight: 100;
    font-size: 2.5em;
}


/* changing media */



@media only screen and (max-width: 768px) {

 
    body {
        /* display: block; */
        /* background-color: var(--backgroundColor); */
        margin: 0;
        padding: 0;
    }

    .head {
        font-size: 2em; /* Adjust the font size for smaller screens */
        margin: 0;
    }

    .main {
        grid-template-columns: 1fr; /* Switch to a single column layout */
    }

    .left, .right {
       
        padding: 2em; /* Add some padding to the columns */
    }

    .pinkContainer {
        font-size: 1.1em; /* Adjust the font size for smaller screens */
    }

    .infoContainer {
        max-width: 100%; /* Ensure the container takes up the full width */
        margin: 1em ; 
       /* padding: 1em; */
    }

 



}




